<div class="row">
    <% if current_order.order_items.size == 0 %> 
    <h4 class="text-center text-primary">Заказов нет</h4>
    <% else %>
    <% current_order.order_items.each do |item| %>
    <div class="col-md-12">
      <div class="order-item text-center">
        <div class="row">
          <div class="col-md-4">
            <%= item.product.title %>
          </div>
          <div class="col-md-2">
            <%= item.unit_price %>
          </div>
          <div class="col-md-1">
            <%= item.quantity %>
          </div>
          <div class="col-md-3">
            <%= item.sub_total_price %>
          </div>
          <div class="col-md-2">
            <%= link_to "Delete",order_item_path(item.id),method: :delete,remote: true %>
          </div>
        </div>
      </div>
    </div>
    <%end%>
    <div class="col-md-12">
      <div class="separator">
    </div>
    
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 text-center">
          Итого:
        </div>
        <div class="col-md-3 col-md-offset-3 text-center">
          <%= current_order.total_price %>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <%= link_to "Оформить заказ", new_order_delivery_path,class: "btn btn-primary" %>
    </div>
    <% end %>
</div>