<html>
  <head>
    <title>Buhari|Administration</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin/home">Бухари | Administration</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <% if admin_signed_in? %>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/admin/home">Обзор</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Каталог<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/admin/categories">Категории</a></li>
              <li><a href="/admin/products">Товары</a></li>
              <li><a href="#">Статьи</a></li>
            </ul>
          </li>
          <li><a href="#">Отчеты</a></li>
          

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Выход', destroy_admin_session_path,method: :delete %></li>
        </ul>


      </div><!-- /.navbar-collapse -->
      <% end %>
    </div><!-- /.container-fluid -->
</nav>
 
  
<div id="mainwrap">
 <div class="row">
    <div class="col-lg-12">
       <% if flash[:notice] %>
         <p class="text-success"><%= flash[:notice] %></p>
       <%end%>
       <%= yield %>
    </div>
  </div> 
  
</div>
  
 
    
  
   
  </body>
</html>